<h1>Manav - TODO App</h1>

<p>This Page Is Used to list down all of the TODO coming from the server</p>

<p *ngIf="!todoList"><em>Loading...</em></p>

<p>
  <a [routerLink]="['/add-todo']">Create New</a>
</p>

<table class='table' *ngIf="todoList">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>IsComplete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoList">
      <td>{{ todo.id }}</td>
      <td>{{ todo.name }}</td>
      <td>{{ todo.isComplete }}</td>
      <td>
      <td>
        <a [routerLink]="['/Todo/edit/', todo.id]">Edit</a> |
        <a [routerLink]="" (click)="delete(todo.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
